<?xml version="1.0"?>
<config>
    <modules>
        <AW_Onpulse>
            <version>1.0.17</version>
        </AW_Onpulse>
    </modules>
    <global>
        <blocks>
            <awonpulse>
                <class>AW_Onpulse_Block</class>
            </awonpulse>
        </blocks>
        <resources>
            <awonpulse_setup>
                <setup>
                    <module>AW_Onpulse</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </awonpulse_setup>
            <awonpulse_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </awonpulse_write>
            <awonpulse_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </awonpulse_read>
        </resources>
        <models>
            <awonpulse>
                <class>AW_Onpulse_Model</class>
            </awonpulse>
        </models>
        <helpers>
            <awonpulse>
                <class>AW_Onpulse_Helper</class>
            </awonpulse>
        </helpers>
        <events>
            <admin_system_config_changed_section_awonpulse>
                <observers>
                    <onpulse_settings>
                        <type>singleton</type>
                        <class>awonpulse/credentials</class>
                        <method>updateSettings</method>
                    </onpulse_settings>
                </observers>
            </admin_system_config_changed_section_awonpulse>
            <onpulse_aggregate_data>
                <observers>
                    <onpulse_aggregator_component_customer>
                        <type>singleton</type>
                        <class>awonpulse/aggregator_components_customer</class>
                        <method>pushData</method>
                    </onpulse_aggregator_component_customer>
                    <onpulse_aggregator_component_order>
                        <type>singleton</type>
                        <class>awonpulse/aggregator_components_order</class>
                        <method>pushData</method>
                    </onpulse_aggregator_component_order>
                    <onpulse_aggregator_component_statistics>
                        <type>singleton</type>
                        <class>awonpulse/aggregator_components_statistics</class>
                        <method>pushData</method>
                    </onpulse_aggregator_component_statistics>
                </observers>
            </onpulse_aggregate_data>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <AW_Onpulse>
                    <files>
                        <default>AW_Onpulse.csv</default>
                    </files>
                </AW_Onpulse>
            </modules>
        </translate>
        <layout>
            <updates>
                <awonpulse module="AW_Onpulse">
                    <file>aw_onpulse.xml</file>
                </awonpulse>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <awonpulse>
                                            <title>aheadWorks - Onpulse</title>
                                        </awonpulse>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <awonpulse>
                <use>standard</use>
                <args>
                    <module>AW_Onpulse</module>
                    <frontName>awonpulse</frontName>
                </args>
            </awonpulse>
        </routers>
    </frontend>
    <default>
        <awonpulse>
            <general>
                <ddl>0</ddl>
                <ordersstatus>complete</ordersstatus>
            </general>
        </awonpulse>
    </default>
</config>
